@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 40vw;
    padding: 10px;
}

.right {
    width: 60vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
    text-decoration: none;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 50vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 52vw;
    padding: 12px;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 390px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.songList ul {
    padding: 0 10px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 51vw;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;
}

.songinfo {
    width: 250px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 2224px) {
    .left {
        width: 22vw;
    }

    .songList {
        height: 440px;
    }

    .right {
        width: 78vw;
    }

    .cardContainer {
        max-height: 55vh;
    }

    .playbar {
        width: 73vw;
    }

    .seekbar {
        width: 72vw;
    }
}

@media (max-width: 2140px) {
    .left {
        width: 23vw;
    }

    .card {
        width: 180px;
    }

    .playbar {
        width: 69vw;
    }

    .seekbar {
        width: 68vw;
    }
}

@media (max-width: 1460px) {
    .songList {
        height: 412px;
    }

    .cardContainer {
        max-height: 53vh;
    }

    .playbar {
        width: 60vw;
    }

    .seekbar {
        width: 59vw;
    }
}

@media (max-width: 1350px) {
    .songList {
        height: 460px;
    }

    .songinfo{
        width: auto;
    }

    .timevol {
        flex-direction: column;
    }
}

@media (max-width: 1190px) {   
    .left {
        width: 29vw;
    }

    .playbar {
        width: 60vw;
    }

    .seekbar {
        width: 59vw;
    }
}

@media (max-width: 1150px) {
    .left {
        width: 30vw;
    }

    .playbar {
        width: 50vw;
    }

    .seekbar {
        width: 49vw;
    }
}

@media (max-width: 1024px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 493px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .library {
        min-height: 88vh;
    }

    .songList {
        height: 950px;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
    }
    
    .timevol {
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: inline;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 19vh;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }

    .songinfo, .songtime{
        width: auto;
    }
}

@media (max-width: 912px) {
    .library {
        height: 87vh;
    }

    .songList {
        height: 970px;
    }
}

@media (max-width: 853px) {
    .left {
        width: 435px;
    }

    .songList {
        height: 930px;
    }
}

@media (max-width: 820px) {
    .songList {
        height: 800px;
    }

    .cardContainer {
        margin-bottom: 22vh;
    }
}

@media (max-width: 768px) {
    .songList {
        height: 670px;
    }

    .card {
        width: 40vw;
    } 
    
    .cardContainer {
        margin-bottom: 25vh;
    }
}

@media (max-width: 690px) {
    .card {
        width: 84vw;
    }
}

@media (max-width: 540px) {
    .left {
        width: 344px;
    }

    .songList {
        height: 450px;
    }

    .card {
        width: 40vw;
    }

    .cardContainer {
        margin-bottom: 35vh;
    }
}

@media (max-width: 430px) {
    .left {
        width: 100%;
    }

    .library {
        height: 85vh;
    }

    .songList {
        height: 600px;
    }

    .cardContainer {
        margin-bottom: 27vh;
    }

    .card {
        width: 84vw;
    }
}

@media (max-width: 414px) {
    .songList {
        height: 580px;
    }

    .cardContainer {
        margin-bottom: 28vh;
    }
}

@media (max-width: 390px) {
    .songList {
        height: 550px;
    }
}

@media (max-width: 375px) {
    .songList {
        height: 400px;
    }

    .header > *{
        padding: 2px;
    }

    .header {
        padding: 7px;
    }

    .buttons > * {
        margin: 0 6px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .cardContainer {
        margin-bottom: 36vh;
    }
}

@media (max-width: 360px) {
    .songList {
        height: 460px;
    }
}

@media (max-width: 344px) {
    .songList {
        height: 480px;
    }

    .cardContainer {
        margin-bottom: 35vh;
    }
}